<h1>Them Phim</h1>
<form action="/add", method="POST">
    Id: <input type="text" name="id"><br>
    LatLong: <input type="text" name="LatLong"><br>
    Role: <input type="text" name="Role" ><br>
    OpenHour: <input type="text" name="OpenHour"><br>
    BankName: <input type="text" name="BankName"><br>
    DefaultAccount:<input type="text" name="DefaultAccount"><br>
    BranchName : <input type="text" name="BranchName"><br>
    <button type="submit"> Themdulieu </button>
</form>